button {
  /* The <img> HTML element embeds an image into the document. */
  font-size: 30px;
  background-color: #a8dadc;

}

h1,
h2 {
  color: #1d3557
}

body {
  background-color: #f1faee;
}

/* The CSS ID selector matches an element based on the value of the element's id attribute. In order for the element to be selected, its id attribute must match exactly the value given in the selector. */

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

/* The CSS class selector matches elements based on the contents of their class attribute. */

span {
  color: #457b9d
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 20px;
}

/* The descendant combinator — typically represented by a single space ( ) character — combines two selectors such that elements matched by the second selector are selected if they have an ancestor element matching the first selector. Selectors that utilize a descendant combinator are called descendant selectors. */

.post a {
  color: #457b9d
}

footer a {
  color: #e76f51;
}

/* The adjacent sibling combinator (+) separates two selectors and matches the second element only if it immediately follows the first element, and both are children of the same parent element. */

input+button {
  background-color: #e76f51;
}

h2+button {
  font-size: 15px;
}

/* The child combinator (>) is placed between two CSS selectors. It matches only those elements matched by the second selector that are the direct children of elements matched by the first. */

footer>a {
  color: #2f3e46;
}

/* The CSS attribute selector matches elements based on the presence or value of a given attribute. */

input[type="password"] {
  color: #ffbd00;
}