/* The ::first-letter CSS pseudo-element applies styles to the first letter of the first line of a block-level element, but only when not preceded by other content (such as images or inline tables). */

h2::first-letter {
  font-size: 35px;
  color: #f08080;
}

/* The ::first-line CSS pseudo-element applies styles to the first line of a block-level element. */

p::first-line {
  color: purple;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

p::selection {
  background-color: #cbf3f0;
}