section {
  width: 500px;
  height: 500px;
  background-color: magenta
}

/* Colors are represented in digital form as a collection of numbers, each representing the strength or intensity level of a given component of the color. Each of these components is called a channel. In a typical image file, the color channels describe how much red, green, and blue are used to make up the final color. To represent a color through which the background can be seen to some extent, a fourth channel is added to the color: the alpha channel. The alpha channel specifies how opaque the color is. */

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, .5);

}

/* The opacity CSS property sets the opacity of an element. Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency. */

#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.5;

}