div {
  /* The width CSS property sets an element's width. By default, it sets the width of the content area, but if box-sizing is set to border-box, it sets the width of the border area. */

  width: 200px;

  /* The height CSS property specifies the height of an element. By default, the property defines the height of the content area. If box-sizing is set to border-box, however, it instead determines the height of the border area. */

  height: 200px;
  background-color: #e5989b;

}

#one {
  background-color: #cdb4db;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  box-sizing: border-box;
}

#two {
  background-color: #ffc8dd;
  border-color: #457b9d;
  border-width: 2px;
  border-style: dashed;
  box-sizing: border-box;
  border-left-width: 6px;
}

/* Short hand properties: */

#three {
  background-color: #ffafcc;
  border: 4px solid black;
  border-radius: 10%;
}